@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
  font-family: 'RocknRoll One', sans-serif;
}

* {
  overflow: hidden;
}

body {
  position: relative;
  width: 360px;
  height: 640px;
  background: #343B71;
}

h1 {
  position: absolute;
    top: 15%;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 64px;
  letter-spacing: 3px;
}

.links {
  position: absolute;
  top: 460px;
  z-index: 1;
  width: 100%;
}

p {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.link {
  display: flex;
  justify-content: space-around;
}

a {
  display: inline-block;
  text-align: center;
  padding: 7px 14px;
  border-radius: 20px;
  height: 20px;
  width: 85px;
  font-size: 17px;
  line-height: 21px;
  color: #343B71;
  background: #C4C4C4;
  text-decoration: none;
}

.circle {
  width: 803px;
  height: 615px;
  border-radius: 50%;
  position: absolute;
    left: -30px;
    top: 364px;
  background: linear-gradient(180deg, rgba(25, 34, 107, 0.2001) 55.21%, rgba(255, 255, 255, 0.29) 100%), #C4C4C4;
}